html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

body {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 6rem;
  font-family: "Shadows Into Light", cursive;
  color: #2de2e6;
}

h3 {
  font-size: 4rem;
  font-family: "Shadows Into Light", cursive;
  color: #ff3864;
}

h4 {
  font-size: 2.5rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.home {
  background: radial-gradient(#241734, #141414);
}

.nav-container {
  background: #141414;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 6vh;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

nav #logo {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  position: relative;
}

nav #logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13.5rem;
  height: 5rem;
  background: #ff3864;
  border-radius: 16px;
  -webkit-transform: translate(-10%, -20%);
          transform: translate(-10%, -20%);
  mix-blend-mode: screen;
}

nav .contactBtn {
  background: #ff3864;
  padding: 1rem 1rem;
  border-radius: 16px;
}

.pageContent {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  max-height: 95vh;
  -ms-grid-columns: 10% (minmax(5rem, 1fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.pageContent h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pageContent img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.pageContent .bio {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.pageContent .bio h3 {
  padding-bottom: 1rem;
}

.card-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#141414), to(#261447));
  background: linear-gradient(#141414, #261447);
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 5rem;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.card-list ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list ::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list ::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, right top, from(#261447), to(#141414));
  background: linear-gradient(90deg, #261447, #141414);
}

.card-list .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #261447;
  -webkit-box-shadow: -1rem 0 3rem #141414;
          box-shadow: -1rem 0 3rem #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-list .card .card-header p {
  color: #e52e71;
  font-family: "Roboto", sans-serif;
}

.card-list .card .card-header h1 {
  color: #2de2e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-list .card .card-authour {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
      grid-template-columns: 75px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 0;
}

.card-list .card .card-authour .half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 15px;
  width: 40px;
  height: 48px;
  fill: none;
  stroke: #2de2e6;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.card-list .card .card-authour .author-name {
  -ms-grid-row: 1;
  grid-area: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-list .card .card-authour .author-name-prefix {
  font-style: normal;
  font-weight: 500;
  color: #bdbdbd;
}

.card-list .card:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.card-list .card:hover ~ .card {
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
}

.card-list .card:not(:first-child) {
  margin-left: -130px;
}

.card-list .card-header h2:hover {
  background: -webkit-gradient(linear, left top, right top, from(#2de2e6), to(#e52e71));
  background: linear-gradient(90deg, #2de2e6, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/*# sourceMappingURL=style.css.map */